[Unit]
Description=Global Trade Bot
After=network.target

[Service]
User=root
WorkingDirectory=cargo-addresign/
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target
